h1 {
    text-align: center;
}

.c1 {
    border: 3px solid black;
    background-color: rgb(104, 100, 100);
    width: 30%;
    min-width: 30%;
    max-height: fit-content;
}
.c2 {
    border: 3px solid black;
    background-color: rgb(200, 99, 99);
    text-align: center;
    width: 30%;
    background-origin: padding-box;
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: center;
    position: relative;
   
   
}

.b1 {
    border: 3px solid black;
    background-color: rgb(104, 100, 100);
    width: 30%;
    min-width: 30%;
    max-height: fit-content;
}
.b2 {
    border: 3px solid black;
    background-color: rgb(195, 59, 59);
    text-align: center;
    width: 30%;
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: center;
}


.s1 {
    border: 3px solid black;
    background-color: rgb(104, 100, 100);
    width: 30%;
    min-width: 30%;
    max-height: fit-content;
}
.s2 {
    border: 3px solid black;
    background-color: rgb(175, 175, 49);
    text-align: center;
    width: 30%;
    padding: 0;
    margin: 0;
    outline: 0;
    text-align: center;
}
div {
    display: inline-block;
    

}